.book-summary {    
    background: #344353;    
    ul {
        li {
            a {
                background: #ff0000;
                color: #ff00ff;
            }
        }
    }
}
.book-summary ul.summary li.active>a {
    font-weight: bolder;
    color: #ce5f15;
}
.book-summary ul.summary li>a {
    color: #ffffff;
}