.book-summary {    
    background: #344353;    
}
.book-summary .ul.summary .li.divider {
    background: orange;
    -webkit-text-stroke-width: 100px;
    }
.divider {
    -webkit-text-stroke-width: 100px;
}