.book-summary {    
    background: #194774;    
}
.book-summary ul.summary li.active>a {
    font-weight: bolder;
    color: #f3852a;
}
.book-summary ul.summary li>a {
    color: #ffffff;
    text-transform: uppercase;
}
.book .book-body .page-wrapper .page-inner {
    background: white;
}
.book-body .body-inner {
    background: #344353;
}





.navigation.navigation-unique {
    background: #194774;
    color: white;
}
.navigation.navigation-unique:hover{
    color: #f3852a
}


.book.with-summary .book-body {
    background: #194774;
}
.book-body {
    background: #194774;
}
.book-header {
    font-weight: bolder;
    background: #194774;
    color: #f3852a;
}
